<!Doctype HTML>

<html>
  <head>
  <link rel = "stylesheet"  type = "text/css" href="css/bootstrap.css">
  <link rel = "stylesheet"  type = "text/css" href="css/bootstrap-theme.css">
  <script type="text/javascript" src="bootstrap.js"></script>
  <link rel = "stylesheet"  type = "text/css" href="css/bootstrap.css">
  <title> Co-op Sequence Matcher </title>
  </head>

  <body>  

    <!--Header-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar">
        <h3 class="text-muted"> Co-op Sequence Matcher </h3>
      </div>
    </nav>

    <!--Body-->
    <div class = "container">
      <div class="starter-template">
        <h4> Hello and welcome to Co-op Sequence Matcher </h4>
      </div>
    </div>

  </body>

</html>